$filterHeight: 40px;

.data-column {
  position: relative;
}

@media (max-width: 768px) {
  .scrollable {
    overflow-y: visible !important;
    height: auto !important;
  }

  .country-selector.scrollable {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .data-column {
    position: relative;
    height: 100%;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;

  i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.scrollable {
  overflow-y: auto;
  height: 100vh;
}

.country-btn {
  width: 100%;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-selector.scrollable {
  height: calc(100vh - #{$filterHeight});
}

.country-column {
  position: relative;
  padding-top: $filterHeight;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 30px;
  padding-left: 15px;
  width: 100%;
}
